[submodule "Project"]
	path = Project
	url = https://github.com/harshika2245/Project.git
[submodule "Skill"]
	path = Skill
	url = https://github.com/harshika2245/Skill.git
[submodule "Practical"]
	path = Practical
	url = https://github.com/harshika2245/Practical.git
